h2{
    border: 1px solid #dddddd;
    border-radius : 5px;  
      background:#4899B1;
      padding : 30px; 
      width : 100%;
    
    margin-top : -10px;
    margin-left : 0px;
      
    }

    #btns{

        margin-top : 35px;
        float: right;}

        input[type="text"] {
            border: 2px solid #5BC0DE ;
            border-radius: 6px;
            text-align:center;
            background:white;
            padding : 5px;
            margin-top : 0px;
            
            } 
            th{
                
                background : #EEF8FB;
          
              } 
          
            input:focus{
            box-shadow: 0 0 5px #5BC0DE;
              padding:5px;
              }

              #s{
  
                width : 73%;   
               border: 1px solid #EEF8FB;
               border-radius : 5px;  
                 background:#EEF8FB;
                 margin : auto;
                 padding : 40px;
                 margin-bottom : 30px;
                 margin-top : 45px;
             
             
             
             
             
             }              