<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


<h2>users</h2>
<div id="s"> Search: <input type="text" class="search" [(ngModel)]="text" placeholder="Search by first name " />
  <input type="text" class="search" [(ngModel)]="text2" placeholder="Search by lastname name " />
<div id="btns">                   
<button class="btn btn-info" (click)="applyfilter(text, text2)"  >Search</button>
<button class="btn btn-secondary" (click)="clear()">Clear</button>
</div>
</div>
<div class="container">
  <table class="table table-bordered">
      <thead class="text-info">
    <tr>
      
      <th>First Name</th>
      <th>Last Name</th>
      <th>ID</th>
      <th>Action</th>
    </tr>
    </thead>
<tr *ngFor="let user of users; let i=index; ">
  
<td>{{user.firstname}}</td>
<td>{{user.lastname}}</td>
<td>{{user.ID}}</td>
<td><button class="btn btn-info" (click)=deleterow(indexof)>Delete</button></td>
</tr>
</table>
</div>